html(lang="ko")
head
  meta(http-equiv='Content-Type', content='text/html, charset=utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/css?family=Poppins:300,500,600', rel='stylesheet')
  script(src='/javascripts/jquery-3.3.1.min.js')
  script(src='/javascripts/popper.min.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/Chart.js')
  script(src='/javascripts/Chart.bundle.js')
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700')
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.3.1/css/all.css", integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU", crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/style.css')
  title EXO
  body
    block content
